@font-face {
    font-family: "remixicon";
    src: url('/remixicon/remixicon.eot?t=1580819880586'); /* IE9*/
    src: url('/remixicon/remixicon.eot?t=1580819880586#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("/remixIcon/remixicon.woff2?t=1580819880586") format("woff2"),
    url("/remixIcon/remixicon.woff?t=1580819880586") format("woff"),
    url('/remixIcon/remixicon.ttf?t=1580819880586') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('/remixIcon/remixicon.svg?t=1580819880586#remixicon') format('svg'); /* iOS 4.1- */
    font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }
.ri-fw { text-align: center; width: 1.25em; }

.ri-4k-fill:before { content: "\ea01"; }
.ri-4k-line:before { content: "\ea02"; }
.ri-a-b:before { content: "\ea03"; }
.ri-account-box-fill:before { content: "\ea04"; }
.ri-menu-line:before { content: "\eecd"; }


*, *::before, *::after {
    box-sizing: border-box;
}


















body{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: Helvetica, Menlo,"remixicon", "Helvetica Neue", fantasy;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
}

.content{
    height: 100%;
    width: 100%;
    background-color: white;
}
.cover{
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    z-index: 0;
}

.cover_frame{
    position: relative;
    height: 100vh;
    width: 100vw;
}


.cover_frame>img{
    display: block;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center center;
    border-style: none;
}

.cover_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
}
.cover_inner h1{
    font-size: 4rem;
    color: white;
    opacity: 0.9;
}


.sidebar{
    left: 0;
    background-color: black;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 6rem;
    height: 100%;
    opacity: 0.6;
}
.navbar-toggle {
    position: absolute;
    top: 1rem;
    left: 7rem;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}
.navbar-toggle::before {
    content: '\eecd';
    font-family: "remixicon";
    font-size: larger;
}
button {
    outline: none;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    font-family: inherit ;
    font-size: 100% ;
    line-height: 1.15 ;
    margin: 0 ;
}



.navbar {
    position: relative;
    padding-top: 3rem;
    text-align: center;
}


.logo {
    margin-bottom: 2rem;
}
.logo>img{
    margin-left: 0.5rem;
    display: block;
    max-width: 5rem;
    max-height: 5rem;
}
.navbar .nav {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}



.navbar .nav .nav-item-link {
    font-size: 0.95rem;
    text-align: center;
    display: block;
    padding: 0.5rem;
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.outer {
    width: calc(100% - 13rem);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin: auto;
    overflow-x: hidden;
}


.footer{
    border-top: 2px solid #f6f6f6;
    padding: 2rem 0;
    background-color: white;
}

.footer .outer>ul{
    text-align: center;
    position: relative;
}

.article-title {
    position: relative;
    width: calc(100% - 5rem);
    font-size: 2rem;
    padding: 1.5rem;
    display: block;
    margin-bottom: 3rem;
    text-decoration: none;
    color: #403e3e;
    border-left: 4px solid #403e3e;
}
.article-entry {
    font-size: 100%;
    margin-top: 1rem;
    line-height: 1.6;
    color: #403e3e;
    padding: 0 2rem 2rem;
    border: 1px dashed #dfdede;
}